ul{

    list-style-type: none;
   text-align: center;
   background-color: black;
   color: white;
   font-size: large;
}
li{
    display: inline;
    padding: 30px;
    
}
a{
    color:white;
}
ul2{
   display:block;
   
}
li2{
    padding: 30px;
}
h1
{ text-align: center;}
